{% block content %}
<h1 style="text-align:center;">About The App !!!</h1>
<p>This web application is connected to a third party API. Link is in the description below. This weather app  collects weather data such as temperature, humidity, barometric pressure etc. for any given area and displays all the relevant details on the homepage. 
    The web application is built with the help of Django framework as backend and BootStrap CSS for webpage designs. It makes use of several frameworks such as Navbar,Jumbotrons,CSRF_Tokens,etc.</p>
 <p>The link for the API : "http://api.openweathermap.org/"</p>   
{% endblock %}